**
!go.mod
!go.sum
!*.go
!apihttp/
!apihttp/**
!authz/
!authz/**
!cli/
!cli/**
!client/
!client/**
!cmd/
!cmd/**
!control/
!control/**
!dataplane/
!dataplane/**
!fleet/
!fleet/**
!history/
!history/**
!kubernetes/
!kubernetes/**
!postgres/
!postgres/**
!server/
!server/**
!ui/
!ui/**
